@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-big-calendar/lib/css/react-big-calendar.css';

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
